<footer>
<div class="footer-info"><h6>MENÚ</h6>
  <p>orem ipsum dolor sit amet, consectetur adipiscing elit. Cras mollis massa et odio porta, sed vehicula purus condimentum. Phasellus vitae convallis lorem. In fermentum fringilla accumsan. Vivamus rutrum mi orci, eu vestibulum ex eleifend placerat.</p>
</div>





<div class="footer-info"><h6>LEGAL</h6>
  <p>Los productos anunciados en esta página son para ser usados por Adultos, al aceptar estos términos también confirmas que cuentas con la mayoría de edad en tu localidad.

mxvapes.com no se hace responsable de ninguna consecuencia o daño que resulte del uso o imposibilidad de usar los productos aquí comercializados. El uso y/o consumo de estos productos es responsabilidad de quien lo consume y/o utiliza.</p>
</div>


<div class="footer-info"><h6>MXVAPES</h6>
  <p>En caso de pérdida, daño o demora, por ningún motivo MX Vapes será responsable de los perjuicios directos o indirectos causados al cliente, al destinatario o a cualquier tercero, incluyendo en ello, sin limitación alguna, pérdidas de venta, de ganancias, de intereses, de utilidades esperadas, de pérdidas de mercado, etc.</p>
</div>
<div class="footer-info"><h6>SÍGUENOS</h6>
  <p class="centro"><a href="#"></a><i class="fab fa-instagram-square"></i></a><br><a href="#"><i class="fab fa-facebook-square"></i></a> <br><a href="#"><i class="fab fa-twitter-square"></i></a></p>
</div>


</footer>