<header>


<h1><a href="/">MXVAPES</a></h1>

<% if (locals.isLogged) { %>

  <div class="compras">
    <a href="/productCart"><i class="fas fa-shopping-cart"></i></a>
  </div>

  <div class="dropdown">
    <img src="/img/usuarios/<%= locals.userLogged.image %>" width="35" style="border-radius: 100%;">
    <button class="dropbtn">Hi <%= locals.userLogged.fullName%>  
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="/users/profile">My profile</a>
      <li><hr class="dropdown-divider"></li>
      <a href="/users/logout">Logout</a>
    </div>
  </div> 

<% } else { %>



  
  <div class="compras">
<a  href="/productCart"><i class="fas fa-shopping-cart"></i></a>

</div>
  <div class="compras">
    <a href="/users/register">Regístrate</a>
  </div>
  
  <div class="compras">
    <a href="/users/login"> Inicia Sesión</a>
  </div>  
 

 <% } %>
 



  <div class="menu">
<nav>

  <ul>
 <li><a  href="/navbar/1">KITS</a></li>
      <li><a  href="/navbar/2">E_JUICE</a></li>
      <li><a  href="/navbar/3">NIC SALTS</a></li>
      <li><a  href="/navbar/4">PODS</a></li>
      <li><a  href="/navbar/5">CBD</a></li>
      <li><a href="/navbar/6">ACCESORIOS</a></li>
      
</ul>
</nav></div>


 <div class="dropdown menuMobile">
    <button type="button" class="btn btn-primary backgroundOrange" data-bs-toggle="dropdown">
      <i class="fas fa-bars"></i>
    </button>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="#">KITS</a></li>
      <li><a class="dropdown-item" href="#">E_JUICE</a></li>
      <li><a class="dropdown-item" href="#">NIC SALTS</a></li>
      <li><a class="dropdown-item" href="#">PODS</a></li>
      <li><a class="dropdown-item" href="#">CBD</a></li>
      <li><a class="dropdown-item" href="#">ACCESORIOS</a></li>
      <li><a class="dropdown-item" href="#">PODS</a></li>
    </ul>
  </div> 
<div class="clear"></div>
</header>
