<div class="menu-bottom">

<ul>
  <li> <a href="/login">Inicia Sesión></a></li>
    <li> <a href="/register">Regístrate</a></li>
  <li> <a href="/productCart"><i class="fas fa-shopping-cart"></i></a></li>

  

</ul>

</div>