<!DOCTYPE html>
<html lang="en">
<head>
    <title>Mx Vapes</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="https://kit.fontawesome.com/9d20c25172.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="opciones">

        <nav class="menu-secundario">
           <ul>
               <li>
                   <a href="/products/crear">Crear producto</a>
                   
               </li>
               <li>
                   <a href="/products">Ver productos</a>
                   
               </li>

            <div class="barraBusqueda">
                <div class="buscador">
                    <form action="/navbar/search" class="flexsearch--form">
                        <div>
            					<input name="busqueda" class="buscar-txt" type="search" placeholder="busca tu producto">
                        </div>
                        <input class="buscar-icon" type="submit" value="&#10140;" />
                    </form>
                </div>
            </div>


            <!--<ul>
                <li><a href="/users/login">Iniciar sesion</a></li>
                <li> <a href="/users/register"> Registrate </a></li>
            
            </ul>
            <ul>
                <a href="/productCart"><i class="fas fa-shopping-cart"></i></a>
            </ul>
-->
           

           </ul>
        </nav>
        


    </div>

