<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MXVApes</title>
    <link rel="stylesheet" href="/css/index.css">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="../public/css/index.css">
 <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />

</head>
<body>

<header>


<h1>MXVAPES</h1>

<nav>
  <ul>
  <li><a href="#">opcion1</a></li>
   <li><a href="#">opcion1</a></li>
    <li><a href="#">opcion1</a></li>
     <li><a href="#">opcion1</a></li>
      <li><a href="#">opcion1</a></li>
</ul>
</nav>

</header>








  <main>


<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100" src="../public/img/banners/vape_1.jpg" alt="First slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="../public/img/banners/vape_2.jpg" alt="Second slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="../public/img/banners/vape_3.jpg" alt="Third slide">
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
  
    <span class="sr-only">Previous</span><i class="fas fa-chevron-left"></i>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
   
    <span class="sr-only">Next</span><i class="fas fa-chevron-right"></i>
  </a>
</div>

<div class="productos">

<div class="producto">
<img src="../public/img/img-index/producto1.jpg">
<p>KITS DE INICIO</p>
</div>

<div class="producto">
<img src="../public/img/img-index/producto2.jpg">
<p>KITS DE INICIO</p>
</div>


<div class="producto">
<img src="../public/img/img-index/producto3.jpg">
<p>KITS DE INICIO</p>
</div>

<div class="producto">
<img src="../public/img/img-index/producto4.jpg">
<p>KITS DE INICIO</p>
</div>

<div class="producto">
<img src="../public/img/img-index/producto5.jpg">
<p>KITS DE INICIO</p>
</div>


</div>



<div class="categorias">

<div class="categoria">
  <h3>E_JUICE</h3>
<img src="../public/img/img-index/juice.jpg">

</div>


<div class="categoria">
  <h3>NIC SALTS</h3>
<img src="../public/img/img-index/salt.jpg">

</div>



<div class="categoria">
    <h3>PODS</h3>
<img src="../public/img/img-index/pods.jpg">

</div>


</div>


<div class="accesorios">

<div class="accesorio">
      <h3>CBD</h3>
<img src="../public/img/img-index/cbd.jpg">

</div>


<div class="accesorio">
   <h3>ACCESORIOS</h3>
<img src="../public/img/img-index/accesorios.jpg">

</div>

</div>

  <h2><strong>ENCUENTRA TU SABOR FAVORITO</strong></h2>
<div class="productos">
 
<div class="producto">
<img src="../public/img/img-index/bebidas.jpg">

</div>

<div class="producto">
<img src="../public/img/img-index/frutales.jpg">

</div>


<div class="producto">
<img src="../public/img/img-index/mentoles.jpg">

</div>

<div class="producto">
<img src="../public/img/img-index/tabacos.jpg">

</div>

<div class="producto">
<img src="../public/img/img-index/postres.jpg">

</div>


</div>


<div class="categorias">

<article class="categoria">
<img src="../public/img/img-index/art1.jpg">
<p>¿Qué es y para que sirve CBD?</p>
</article>


<article class="categoria">
<img src="../public/img/img-index/art2.jpg">
<p>¿Qué son las sales de nicotina?</p>
</article>



<article class="categoria">
<img src="../public/img/img-index/art3.jpg">
<p>¿Qué es el vapeo?</p>
</article>


</div>

<h2><strong>SUSCRÍBETE A NUESTRO BOLETÍN DE NOTICIAS</strong></h2>


<div class="newsletter">

  <form action="/action_page.php">
<input type="text" placeholder="correo@.com">
<button class="btn-enviar" type="submit"><i class="fas fa-envelope"></i></button>
</form>
</div>



  </main>
<footer>
<div class="footer-info"><h6>MENÚ</h6>
  <p>orem ipsum dolor sit amet, consectetur adipiscing elit. Cras mollis massa et odio porta, sed vehicula purus condimentum. Phasellus vitae convallis lorem. In fermentum fringilla accumsan. Vivamus rutrum mi orci, eu vestibulum ex eleifend placerat.</p>
</div>





<div class="footer-info"><h6>LEGAL</h6>
  <p>Los productos anunciados en esta página son para ser usados por Adultos, al aceptar estos términos también confirmas que cuentas con la mayoría de edad en tu localidad.

mxvapes.com no se hace responsable de ninguna consecuencia o daño que resulte del uso o imposibilidad de usar los productos aquí comercializados. El uso y/o consumo de estos productos es responsabilidad de quien lo consume y/o utiliza.</p>
</div>


<div class="footer-info"><h6>MXVAPES</h6>
  <p>En caso de pérdida, daño o demora, por ningún motivo MX Vapes será responsable de los perjuicios directos o indirectos causados al cliente, al destinatario o a cualquier tercero, incluyendo en ello, sin limitación alguna, pérdidas de venta, de ganancias, de intereses, de utilidades esperadas, de pérdidas de mercado, etc.</p>
</div>
<div class="footer-info"><h6>SÍGUENOS</h6>
  <p class="centro"><i class="fab fa-facebook-square"></i> <br><i class="fab fa-twitter-square"></i></p>
</div>


</footer>


</body>
</html>