<!DOCTYPE html>
<html>
  <head>
    <title>MXVapes Login</title>
  </head>

  <body class="body">
  <section class="bg" style="text-align: center;">
    <div>
      <div>
        <h1 style="background-color: #d27825;">Bienvenido</h1>
        <div>
          <div>
            <input type="text" id="email" placeholder="Email">
          </div>
          <div>
            <input type="password" id="password" placeholder="Password">
          </div>

          <div>
              <button id="login">Login</button>
          </div>

          <p>
            <a href="" class="tip-right">¿Olvidaste tu contraseña?</a>
          </p>

          <p>
              <span>¿Aun no tienes una cuenta?</span>
              <a href=""">Crea una</a>
          </p>
        </div>
      </div>

      <div>
        <span>O inicia sesión con </span><br />
        <a href="#"><img src="facebook.png" width="50px" height="50px"></a>
        <a href="#"><img src="google.png" width="50px" height="50px"></a>
        </div>
      </div>
    </div>
  </section>
  <div>Icons made by <a href="https://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
  <div>Icons made by <a href="https://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
  </body>
</html>