
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrito de compras</title>
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/styleCarritoCompras.css">
    <script src="https://kit.fontawesome.com/9d20c25172.js" crossorigin="anonymous"></script>
     <link rel="stylesheet" href="css/index.css">
        
</head>
<body>

  <%- include('./partials/header') %>






    <div>
     
        <h1> Tus compras <i class="fas fa-shopping-cart"></i></h1>
        
            <form class="search-bar" action="search">
            <label>Buscar</label>
            <input type="search" class="search-input-field">
            <input type="submit" class="ghost search-button">
            </form>  
            <hr>
        </div>
    <main>
        <h2 class="selected-product">Producto seleccionado</h2>
        <div class="flex">            
        <img src="/img/CBD/cbd-infos-tCZVzr9TvxQ-unsplash.jpg" alt="CBD-gotero">
        
        <span class="descripcion-producto"> <p> Descripción del producto</p>
            <small> EL CBD aislado es un suplemento nutricional derivado naturalmente del Cannabis, que ha demostrado 
                científicamente ser de excelente ayuda para que nuestro cuerpo entre en un estado 
                óptimo de regeneración y relajación.El gotero contiene 30 mililitros de aceite de CBD 
                aislado, aproximadamente 600 gotas</small>
        </span>
        </div>
        <div>
        <button>Comprar ahora</button>         
        </div>   
    </main>
  


      <%- include('./partials/footer') %>


</body>
</html>