<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://kit.fontawesome.com/7a57e2dd08.js" crossorigin="anonymous"></script>

        <title>Login MXVapes</title>
 <link rel="stylesheet" href="/css/styleLogin.css">
      <%- include('./partials/script-header') %>



    </head>
    <body class="fondo"> 


<%- include('./partials/header') %>

        <form action="/products/create" method="POST" enctype="multipart/form-data" class="formulario edicion">
            <h1>Creación productos<br><br></h1>
            
            
             <div class="contenedor">  

                    <div class="input-contenedor">
                    <input type="text" placeholder="Nombre" name="name" class="txt">
                    </div>

                    <div class="input-id">
                        <input type="text" name="id" placeholder="id_number"> 
                    </div>

                    <div class="input-contenedor"><label for="imagen" class="form-label">Sube la imagen</label>
                        <input type="file" name="image" id="file"></div>


                    <div class="input-contenedor">

                    <label>Categoría</label>
                    <select name="category" id="categoria">
                     <option value="Accesorios">Accesorios</option>
                     <option value="E-juice">E-juice</option>
                     <option value="Pods">Pods</option>
                     <option value="CBD">CBD</option>
                     <option value="Kits">Kits</option>
                    </select>
                    </div>


                    <div class="input-contenedor">

                    <textarea placeholder="Descripción" name="description"></textarea>

                    </div>

                    <div class="input-contenedor">
   
                    <input type="text" placeholder="Precio" name="price" class="txt">
                    </div>
                    
                    <div class="input-contenedor">
                    <input type="text" placeholder="Descuento" name="discount" class="txt">
                    </div>
                
                    <input type="submit" value="CrearProducto">
            </div>   
        </form><br><br>

    

            <%- include('./partials/footer') %>
            <%- include('./partials/menu') %>
    </body>
</html>