<!DOCTYPE html>
<html lang="en">

<head>
    <title>Mx Vapes</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style_productCart.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,900" rel="stylesheet">
    <script src="https://kit.fontawesome.com/9d20c25172.js" crossorigin="anonymous"></script>
</head>

<body>

    <div class="CartContainer">
        <p> Vapes MX </p>
        <nav>
            <ul>
                <li class="crear-verProducto">
                    <a href="/products/crear">Crear producto</a>

                    <a href="/products">Ver productos</a>

                </li>

                <ul class="login-register">
                    <li><a href="/users/login">Iniciar sesion</a></li>
                    <li> <a href="/users/register"> Registrate </a></li>

                </ul>
        </nav>
        <div class="Header">
            <h3 class="Heading">Carrito de compras</h3>
            <h5 class="Action">Vaciar carrito</h5>
        </div>

        <div class="Cart-Items">
            <div class="image-box">
                <img src="/images/accesorios/atomizador.jpg" />
            </div>
            <div class="about">
                <h1 class="title">Baterias</h1>
                <h3 class="subtitle">A lot of energy</h3>
                <img src="/images/accesorios/baterias.png" />
            </div>
            <div class="counter">
                <div class="btn">+</div>
                <div class="count">2</div>
                <div class="btn">-</div>
            </div>
            <div class="prices">
                <div class="amount">$2.99</div>
                <div class="save"><u>guardar</u></div>
                <div class="remove"><u>Quitar </u></div>
            </div>
        </div>

        <div class="Cart-Items pad">
            <div class="image-box">
                <img src="/images/accesorios/intellicharger.jpg" />
            </div>
            <div class="about">
                <h1 class="title">Resistencia</h1>
                <h3 class="subtitle">So hard</h3>
                <img src="/images/accesorios/resistencia.jpg" />
            </div>
            <div class="counter">
                <div class="btn">+</div>
                <div class="count">1</div>
                <div class="btn">-</div>
            </div>
            <div class="prices">
                <div class="amount">$3.19</div>
                <div class="save"><u>guardar</u></div>
                <div class="remove"><u>Quitar</u></div>
            </div>
        </div>
        <hr>
        <div class="checkout">
            <div class="total">
                <div>
                    <div class="Subtotal">Sub-Total</div>
                    <div class="items">2 items</div>
                </div>
                <div class="total-amount">$6.18</div>
            </div>
            <button class="button">Checkout</button>
        </div>
    </div>
</body>

</html>