
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrito de compras</title>
        <link rel="stylesheet" href="css/styleCarritoCompras.css">
   <%- include('./partials/script-header') %>
        
</head>
<body>

  <%- include('./partials/header') %>




    <div>
     
        <h1> Tus compras <i class="fas fa-shopping-cart"></i></h1>
        
            <form class="search-bar" action="search">
            <label>Buscar</label>
            <input type="search" class="search-input-field">
            <input type="submit" class="ghost search-button">
            </form>  
            <hr>
        </div>
    <main class="carrito-compras">
        <h2 class="selected-product">Producto seleccionado</h2>
     
            
              
            
            <div class="row producto-agregado">
    <div class="col-md-2">
        <img src="/img/CBD/cbd-infos-tCZVzr9TvxQ-unsplash.jpg" alt="CBD-gotero">
        </div>


            <div class="col-md-4">
        <span class="descripcion-producto"> <h2> Descripción del producto</h2> </span>
            <p>EL CBD aislado es un suplemento nutricional derivado naturalmente del Cannabis, que ha demostrado 
                científicamente ser de excelente ayuda para que nuestro cuerpo entre en un estado 
                óptimo de regeneración y relajación.El gotero contiene 30 mililitros de aceite de CBD 
                aislado, aproximadamente 600 gotas</p>

                 
        </div>




        
 <div class="col-md-2 precio">$50</div>
 <div class="col-md-1 cantidad">3</div>
 <div class="col-md-1 total">$150</div>
<div class="col-md-2 eliminar"> <button class="comprar">Eliminar</button>  </div>
    </div>


        </div>   
    </main>
  


      <%- include('./partials/footer') %>
      <%- include('./partials/menu') %>


</body>
</html>