<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://kit.fontawesome.com/7a57e2dd08.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="css/styleRegistro.css">
        <title>Registro MXVapes</title>
    </head>
    <body>
        <form class="formulario">
            <h1>Registrate</h1>
            <div class="contenedor">
                    <div class="input-contenedor">
                        <i class="fas fa-user"></i>
                        <input type="text" placeholder="Nombre" class="txt">
                    </div>

                    <div class="input-contenedor">
                        <i class="fas fa-user"></i>
                        <input type="text" placeholder="Apellidos" class="txt">
                    </div>

                    <div class="input-contenedor">
                        <i class="fas fa-user"></i>
                        <input type="text" placeholder="Usuario" class="txt">
                    </div>

                    <div class="input-contenedor">
                        <i class="fas fa-envelope"></i>
                        <input type="text" placeholder="E - Mail" class="txt"> 
                    </div>

                    <div class="input-contenedor">
                        <i class="fas fa-key"></i>
                        <input type="password" placeholder="Contraseña" class="txt"> 
                    </div>

                    <input class="button" type="button" onclick="location.href='login.html';" value="Registrar" />
                <p><input type="checkbox">Acepto los <a class="link" href="#">Términos y condiciones de uso</a></p>
                <p>¿Ya tienes cuenta? <a class="link" href="login.html">Inicia sesión</a></p>
            </div>
        </form>
    </body>
</html>