<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://kit.fontawesome.com/7a57e2dd08.js" crossorigin="anonymous"></script>
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="css/styleRegistro.css">
                      <link rel="stylesheet" href="css/index.css">
        <title>Registro MXVapes</title>
    </head>
    <body class="fondo">



<%- include('./partials/header') %>



        <form class="formulario">
            <h1>Registrate</h1>
            <div class="contenedor">
                    <div class="input-contenedor">
                       
                        <input type="text" placeholder="Nombre" class="txt"> <i class="fas fa-user"></i>
                    </div>

                    <div class="input-contenedor">
                        
                        <input type="text" placeholder="Apellidos" class="txt"><i class="fas fa-user"></i>
                    </div>

                    <div class="input-contenedor">
                       
                        <input type="text" placeholder="Usuario" class="txt"> <i class="fas fa-user"></i>
                    </div>

                    <div class="input-contenedor">
                       
                        <input type="text" placeholder="E - Mail" class="txt">  <i class="fas fa-envelope"></i>
                    </div>

                    <div class="input-contenedor">
                        
                        <input type="password" placeholder="Contraseña" class="txt"> <i class="fas fa-key"></i>
                    </div>

                    <input class="button" type="button" onclick="location.href='login.html';" value="Registrar" />
                <p class="terminos"><input class="ck" type="checkbox">Acepto los <a class="link" href="#">Términos y condiciones de uso</a></p>
                <p>¿Ya tienes cuenta? <a class="link" href="login.html">Inicia sesión</a></p>
            </div>
        </form>

      <%- include('./partials/footer') %>

    </body>
</html>