@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,300;0,700;1,300;1,700&display=swap');

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 15px;
  display: flex;
}

main {
  max-width: 1200px;
  margin: 0 auto;
  padding: 15px;
}

/*productos index*/
.productos,
.categorias,
.accesorios,
footer {
  margin: 20px 0;
  display: flex;
  justify-content: space-between;
}


.producto {
  width: 17%;
}


.accesorio {
  width: 40%;
}

.categoria {
  width: 20%;
}

.producto img,
.categoria img,
.accesorio img {
  width: 100%;

}


.newsletter {
  width: 80%;
  margin: 20px auto;
}



h3 {
  text-align: center;
}



input {
  width: 100%;
  padding: 10px;

}


.footer-info {
  width: 20%;
  margin: 0 2.5%
}



/* Responsive */
@media (min-width: 300px) {

  .productos,
  footer,
  .accesorios,
  .categorias {
    flex-direction: column;
  }


  .producto,
  .categoria,
  .accesorio {
    width: 70%;
    margin: 20px auto;
  }




  .container {
    flex-direction: column;
    margin-top: 60px;
  }


  .footer-info {
    width: 80%;
    margin: 0 10%;
  }

}



@media (min-width: 769px) {

  .productos,
  footer,
  .accesorios,
  .categorias {
    flex-direction: row;
  }


  .producto,
  .categoria,
  .accesorio {
    width: 17%;
    margin: 20px auto;
  }




  .container {
    flex-direction: row;
    margin-top: 0;
  }


  .footer-info {
  width: 20%;
    margin: 0 2.5%;
  }

}