@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,300;0,700;1,300;1,700&display=swap');

html,
body {

  margin: 0;
  font-family: 'Poppins', sans-serif;
  color: #87868a;
}

header {
  padding: 20px;
  background-color: #d27825;

}

header h1 a,
header h1 a:hover,
header h1 a:active {
  color: #FFF;
  text-decoration: none;
}

.clear {
  clear: both;
}


h1 {
  float: left;
  font-size: 33px;
  text-align: center;
  color: #FFF;
  font-weight: bold;
  margin: 0;
}

.carrito {
  padding: 10px 10px 5px 10px;
  color: cornflowerblue;
  display: flex;
  flex-direction: row-reverse;
}

.compras {
  display: none;
  font-size: 18px;
  color: #FFF;
  float: right;
  margin: 0 15px;


}


.compras .fas {
  font-size: 29px;
}

.compras a {
  color: #FFF;
  text-decoration: none;
}


.menu-bottom {
  position: fixed;
  bottom: 0;
  background-color: #d27825;
  width: 100%;
  display: flex;
}

.menu-bottom ul {

  display: flex;
  flex-direction: row;
  list-style: none;
  padding: 20px 0;
  margin: 0;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
  align-items: center;
}

.menu-bottom ul li a {
  color: #FFF;
  text-decoration: none;
}

.compras-bottom {

  font-size: 29px;
  color: #FFF;
  float: right;
  margin: 0 15px;


}

.compras-bottom a {
  color: #FFF;
}


.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 15px;
  display: flex;
}

main {
  max-width: 1200px;
  margin: 0 auto;
  padding: 15px;
}


.menuMobile {

  float: right;


}

.menuMobile button .fas {
  font-size: 30px;
}

.menu {
  display: none;
}

.backgroundOrange {
  background: #d27825 !important;
  border: 0 !important;
}


nav {
  display: none;
  clear: both;
  background: #d27825;
  color: #FFF;
  height: 60px;
  display: flex;
}

nav ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  padding: 0;
  margin: 0;
  justify-content: space-between;
  width: 100%;
  margin: 0 auto;
  align-items: center;
}


nav ul li a {
  padding: 20px;
  color: #FFF;
  font-size: 21px;
  font-weight: bold;
  text-decoration: none;

}

nav ul li a:hover,
nav ul li a:active,
nav ul li a:focus {

  color: #FFF;
  text-decoration: none;

}

.carousel .fas {
  font-size: 45px;
  color: #d27825;
}

.carousel-indicators li {
  background-color: #d27825;
}

footer {
  background-color: #FFF;
}

/*productos index*/
.productos,
.categorias,
.accesorios,
.sabores,
footer {
  padding: 40px 0;
  display: flex;
  justify-content: space-between;
}

.productos {
  flex-wrap: wrap;
}


.productos p,
.categorias p,
.accesorios p {
  text-align: center;
}


.producto {
  width: 17%;
}


.accesorio {
  width: 40%;
}

.categoria {
  width: 20%;
}

.producto img,
.categoria img,
.accesorio img {
  width: 100%;
  border: 2px solid #d27825;
}

.sabor {

  width: 300px;
}


.sabor img {
  width: 100%;
}


.newsletter {
  position: relative;
  width: 80%;
  margin: 20px auto;
  align-items: center;
  
}

input[type=text] {
  margin-bottom: 20px;
  padding: 12px;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
 
input[type=checkbox] {
  margin-top: 16px;
  
}



h2 {
  width: 100%;
  text-align: center;

}


h3 {
  text-align: center;
}



input {
  width: 100%;
  padding: 10px;
  float: left;

}

.centro {
  text-align: center;
}

.btn-enviar {
  width: 100%;
  position: relative;
  background: #d27825;
  color: #FFF;
  border: 0;
  font-size: 30px;
  right: 50px;
  
  
}

footer {
  clear: both;
}


.footer-info {
  width: 20%;
  margin: 0 2.5%
}

footer p {
  text-align: justify;
  margin-top: 12px;
}

footer h6 {
  font-weight: bold;
  text-align: center;
  font-size: 18px;
  margin: 0;
  border-bottom: 1px solid #d27825;
  padding-bottom: 13px;

}


article p {
  font-size: 20px;
  text-transform: uppercase;
  color: #d27825;
  font-weight: bold;
  margin-top: 13px;
}


.producto-m {
  float: left;
  width: 96%;
  margin: 0 2%;

}


.producto-m img {
  width: 100%;
}


.title-p {
  color: #d27825;
  font-weight: bold;
  font-size: 20px;
  text-transform: uppercase;
}

.descripcion-p {
  color: #d27825;
  font-weight: bold;
  font-size: 20px;
  clear: both;
  text-transform: uppercase;
}

.cart-btn {
  display: inline-block;
  background-color: #d27825;
  border-radius: 6px;
  font-size: 16px;
  color: #FFF;
  text-decoration: none;
  padding: 12px 30px;
  transition: all .5s;
}

.cart-btn a,
.cart-btn a:hover {
  color: #FFF;
  text-decoration: none;
}


/* Responsive */
@media (min-width: 300px) {

  .sabor {
    width: 50%;
    margin: 30px auto;
  }



  .productos,
  .sabores,
  footer,
  .accesorios,
  .categorias {
    flex-direction: column;
  }



  footer .fab {
    font-size: 40px;
    color: #d27825;
  }



  .producto,
  .categoria,
  .accesorio {
    width: 70%;
    margin: 20px auto;
  }




  .container {
    flex-direction: column;
    margin-top: 60px;
  }


  .footer-info {
    width: 80%;
    margin: 0 10%;
  }

}



@media (min-width: 769px) {


  .producto-m {
    width: 46%;
  }

  .menuMobile {
    clear: both;
  }


  .menu-bottom {
    display: none;
  }


  .compras {
    display: block;
  }


  input {
    width: 90%;
  }


  .btn-enviar {
    width: 10%;
  }


  .productos,
  footer,
  .accesorios,
  .categorias,
  .sabores {
    flex-direction: row;
  }


  .sabor {
    width: 17%;

  }

  .producto {
    width: 30%;
    margin: 20px auto;
  }

  .accesorio {
    width: 40%;
  }

  .categoria {
    width: 25%;
  }


  .container {
    flex-direction: row;
    margin-top: 0;
  }


  .footer-info {
    width: 20%;
    margin: 0 2.5%;
  }

}


@media (min-width: 1024px) {
  .compras {
    margin: 0 15px;
    font-size: 17px;

  }


  .menu {
    display: block;
  }


  .menuMobile {
    display: none;
  }

}