html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    color: #87868a;
}

p {
    font-size: 16px;
    text-align: justify;
    margin-right: 10px;
    font-weight: 300;
    color: #87868a;
    line-height: 24px;
}

button.comprar {
    font-family: 'Poppins', sans-serif;
    border: 2px solid #E1E8EE;
    border-radius: 6px;
    padding: 13px 20px;
    font-size: 14px;
    color: #f4f4f4;
    background-color: #d27825;
    cursor: pointer;
    transition: all .5s;
    margin-top: 5px;
}


.clear {
    clear: both;
}

.producto-agregado {
    margin: 40px 0;
    align-items: center;
}

.producto-agregado .precio,
.producto-agregado .cantidad,
.producto-agregado .total,
.producto-agregado .eliminar {
    text-align: center;
}

.producto-agregado .precio {

    font-size: 20px;
    font-weight: bold;
}

.producto-agregado .cantidad {

    font-size: 18px;

}

.producto-agregado .total {

    font-size: 18px;
    font-weight: bold;
}

.carrito-compras img {
    width: 100%;
}




.logo {
    text-align: center;
    display: block;
}

h1 {
    text-align: center;

}

.search-bar {
    display: inline;
}

main {}

h2 {
    text-align: center;
}

main img {
    width: 50%;
    padding: 10px;

}

.descripcion-producto {

    padding: 5px;

}

.flex {
    padding: 10px;
    display: flex;

}

button {
    text-align: center;
    border-radius: 10px;
}

footer {
    padding: 10%;
}

h6 {
    text-align: center;
}