.fondo {
    margin: 0;
    background: url(../img/LogReg/bgVape.jpg);
    background-size: cover;
    background-attachment: fixed;

}

* {
    box-sizing: border-box;
}

.contenedor {
    width: 100%;
    padding: 15px;

}

.formulario {

    background: #ffff;
    margin: 100px 0 25px 0;
    padding: 3px;
}

.formulario h1 {
    text-align: center;
    color: #444242;
    font-size: 40px;
    width: 100%;
    padding: 20px 0;
}

.txt {
    font-size: 20px;
    width: 90%;
    padding: 10px;
    border: none;

}

.terminos {
    
    clear: both;
    text-align: left;
    
}

.ck {
    float: left;
    width: 20px;
    
}

i {
    font-size: 20px;
    padding: 10px;
    border: none;
}


.input-contenedor {
    margin-bottom: 10px;
    clear: both;
    float: left;
    width: 100%;
}

.input-contenedor-userName {
    width: 49%;
    float: left;
}

.input-contenedor-lastName {
    width: 49%;
    float: right;
}

.input-contenedor-lastName .fas.fa-user {
    float: right;
    margin-top: -60px;
    margin-bottom: 20px;
}

.input-contenedor-email .fas.fa-envelope {
    float: right;
    margin-top: -65px;
    margin-bottom: 20px;
}

.input-contenedor-user_type {
    margin-bottom: 20px;
}

.input-contenedor-user_pass {
    width: 49%;
    float: left;
}

.input-contenedor-confirm_pass {
    width: 49%;
    float: right;
    margin-bottom: 20px;
}

.input-contenedor-confirm_pass .fas.fa-key {
    float: right;
    margin-top: -38px;
}


.input-contenedor-usuario .fas.fa-user {
    float: right;
    margin-top: -40px;
    margin-bottom: 20px;
}

.input-contenedor-address .fas.fa-map-marked-alt {
    float: right;
    margin-top: -65px;
}


.icon {
    min-width: 50px;
    text-align: center;
    color: #999;
}

.button {
    border: none;
    width: 100%;
    color: white;
    font-size: 20px;
    background: #444242;
    padding: 15px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 17px;
    margin-top: 25px;
}

.button:hover {
    background: #d27825;
}

p {
    text-align: center;
}

.link {
    text-decoration: none;
    font-weight: 600;
}

.link:hover {
    color: #d27825;
}



@media(min-width:768px) {
    .formulario {
        margin: auto;
        width: 500px;
        margin-top: 100px;
        border-radius: 2%;
        margin-bottom: 45px;
    }
}