.fondo {

    background: url(../img/LogReg/bgVape.jpg);
    background-size: cover;
    background-attachment: fixed;
}

* {
    box-sizing: border-box;
}

.formulario .contenedor {
    width: 100%;
    padding: 15px;
}

.formulario {
    background: #ffff;
    margin-top: 100px;
    padding: 3px;
}



.formulario2 {
    background: #ffff;
    margin: 15px 0 25px 0;
    padding: 3px;
}

.formulario h1 {
    text-align: center;
    color: #444242;
    font-size: 40px;
    width: 100%;
}

.formulario .txt {
    font-size: 20px;
    width: 90%;
    padding: 5px;
    border: 0;

}

.formulario .ckbox {
    clear: both;
    text-align: justify;
    margin: 20px 0;
}


.ckbox input {
    width: 20px;
    margin-top: 5px;
}

.formulario i {
    font-size: 20px;
    padding: 10px;
    border: none;
}

.formulario .input-contenedor {
    clear: both;
    margin-bottom: 15px;
    border: 1px solid #aaa;

}

.formulario .icon {
    min-width: 50px;
    text-align: center;
    color: #999;
}

.formulario .img {
    width: 75px;
    height: 75px;
    min-width: 50px;
    min-height: 50px;
    display: block;
    margin: auto;
}

.formulario .button {
    border: none;
    width: 100%;
    color: white;
    font-size: 20px;
    background: #444242;
    padding: 15px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 17px;
}

.formulario .button:hover {
    background: #d27825;
}

.formulario p {
    text-align: center;
}

.formulario .link {
    text-decoration: none;
    font-weight: 600;
}

.link:hover {
    color: #d27825;
}

.iconos .fab {
    font-size: 40px;
    margin: 0 14px;
}

.formulario.edicion .input-contenedor {
    clear: both;
    margin-bottom: 15px;
    border: 1px solid #aaa;
    min-height: 44px
}

.input-contenedor textarea {
    border: 0;
    width: 100%;
    height: 100%;
}





@media(min-width:768px) {
    .formulario {
        margin: auto;
        width: 500px;
        margin-top: 100px;
        border-radius: 2%;
        padding: 20px;
    }

    .formulario2 {
        margin: 15px auto 45px;
        width: 500px;
        border-radius: 2%;
        padding: 20px;
    }
}