.fondo {
    margin: 0;
    background: url(../img/LogReg/bgVape.jpg);
    background-size: cover;
    background-attachment: fixed;

}

* {
    box-sizing: border-box;
}

.contenedor {
    width: 100%;
    padding: 15px;

}

.formulario {
    background: #ffff;
    margin: 100px 0 25px 0;
    padding: 3px;
}

.formulario h1 {
    text-align: center;
    color: #444242;
    font-size: 40px;
    width: 100%;
    padding: 20px 0;
}

.txt {
    font-size: 20px;
    width: 90%;
    padding: 10px;
    border: none;

}

.terminos {
    clear: both;
    text-align: left;
}

i {
    font-size: 20px;
    padding: 10px;
    border: none;
}

.input-contenedor {
    margin-bottom: 15px;
    border: 1px solid #aaa;


    clear: both;
    float: left;
    width: 100%;
}

.input-contenedor .fas {
    float: right;
}


.icon {
    min-width: 50px;
    text-align: center;
    color: #999;
}

.button {
    border: none;
    width: 100%;
    color: white;
    font-size: 20px;
    background: #444242;
    padding: 15px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 17px;
}

.button:hover {
    background: #d27825;
}

p {
    text-align: center;
}

.link {
    text-decoration: none;
    font-weight: 600;
}

.link:hover {
    color: #d27825;
}

.ck {
    width: 20px;
    margin-top: 4px;
}

@media(min-width:768px) {
    .formulario {
        margin: auto;
        width: 500px;
        margin-top: 100px;
        border-radius: 2%;
        margin-bottom: 45px;
    }
}