/* Basic Styling */
html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: 'Fira Sans bold 700', 'Poppins Light300';
}

main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;
  }

  /*productos index*/
.productos {
    margin: 20px 0;
    display: flex;
    justify-content: space-between;
  }

  .producto {
    width: 17%;
  }
  
  
  .producto img {
    width: 100%;
  }